.forms{
    border: 5px dashed  rgb(255, 0, 0) ;
    padding: 10px;
    width: max-content;
    margin-left: 39%;
}

body{
    font-size: larger, solid;
    background-image: linear-gradient(120deg, rgb(250, 189, 118), rgb(204, 255, 0));
    font-size: 1.4rem;
    text-align: center;
    height:800px;
    word-wrap: break-word;
    
}
label{
    text-decoration: underline;
}
.create_button {
    appearance: none;
    border: 0;
    border-radius: 20px;
    background: rgb(66, 41, 41);;
    color: white;
    padding: 8px 16px;
    font-size: 16px;
}
.create_button:hover{
    background-color: rgb(64, 124, 173);
}

.edit_button {
    appearance: none;
    border: 0;
    border-radius: 20px;
    background: rgb(135, 68, 68);
    color: white;
    padding: 8px 16px;
    font-size: 16px;
}
.edit_button:hover{
    background-color: red;
}

.delete_button {
    appearance: none;
    border: 0;
    border-radius: 20px;
    background: rgb(224, 108, 108);
    color: #fff;
    padding: 8px 16px;
    font-size: 16px;
}
.delete_button:hover{
    background-color: red;
}

.textStyle {
    background: rgb(86, 227, 124);
}
.inputs {
    background: rgb(86, 227, 124);
}